body {
  margin: 0;
  background: #07070a;
  font-family: monospace;
  color: #ddd;
}

/* LOGIN */
.center {
  width: 350px;
  margin: 120px auto;
}

/* WINDOW */
.window {
  position: absolute;
  width: 320px;
  background: #111;
  border: 1px solid #333;
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.titlebar {
  background: #1a1a1a;
  padding: 6px;
  cursor: move;
  font-size: 12px;
  border-bottom: 1px solid #333;
}

.content {
  padding: 10px;
}

.hidden {
  display: none;
}

/* DESKTOP */
.desktop {
  height: 100vh;
  padding: 40px;
  display: flex;
  gap: 20px;
}

.icon {
  width: 100px;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  cursor: pointer;
}

.icon:hover {
  background: #1c1c1c;
}

/* TASKBAR */
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0f0f0f;
  padding: 5px;
  border-top: 1px solid #333;
}

/* TEXTAREA */
textarea {
  width: 100%;
  height: 120px;
  background: black;
  color: #ddd;
  border: 1px solid #333;
}

/* ERROR */
.error {
  color: red;
}