body {
  margin: 0;
  background: #0b0b0f;
  font-family: monospace;
  color: #d0d0d0;
}

/* WINDOWS */
.window {
  width: 400px;
  background: #111;
  border: 1px solid #333;
  margin: 100px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
}

.titlebar {
  background: #1a1a1a;
  padding: 8px;
  font-size: 12px;
  border-bottom: 1px solid #333;
}

.content {
  padding: 15px;
}

/* DESKTOP */
.desktop {
  padding: 40px;
  display: flex;
  gap: 20px;
}

.icon {
  width: 100px;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
}

.icon:hover {
  background: #1f1f1f;
}

/* TXT */
textarea {
  width: 100%;
  height: 120px;
  background: #000;
  color: #d0d0d0;
  border: 1px solid #333;
}

/* UTILS */
.hidden {
  display: none;
}

.error {
  color: red;
  font-size: 12px;
}