body {
  margin: 0;
  background: #050505;
  color: #cfcfcf;
  font-family: monospace;
  text-align: center;
  padding-top: 80px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  color: white;
}

button {
  padding: 10px;
  background: #222;
  border: 1px solid #333;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}