body {
  margin: 0;
  font-family: Tahoma;
}

/* LOGIN */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("assets/backgrounds/login.jpg") center/cover;
}

.login-box {
  background: #ece9d8;
  padding: 20px;
  border: 2px solid #0a246a;
}

/* DESKTOP */
#desktop {
  height: 100vh;
  background: url("assets/backgrounds/desktop.jpg") center/cover;
}

/* ICONOS GRID INICIAL */
#desktopArea {
  position: absolute;
  top: 40px;
  left: 20px;
  width: 200px;
  height: 400px;
}

/* ICONO XP */
.icon {
  position: absolute;
  width: 70px;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black;
  cursor: grab;
}

.icon span {
  display: block;
  font-size: 12px;
}

/* TASKBAR */
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #245edb;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 4px;
}

.taskbar input {
  width: 200px;
}

/* WINDOWS */
.window {
  position: absolute;
  width: 320px;
  background: #ece9d8;
  border: 2px solid #0a246a;
}

.hidden { display: none; }

.titlebar {
  background: linear-gradient(to right, #0058e6, #4f8ff7);
  color: white;
  padding: 4px;
  cursor: move;
}

.content { padding: 10px; }
