body {
  margin: 0;
  font-family: monospace;
  background: #0b0b0f;
  color: #ddd;
}

/* LOGIN */
.center {
  width: 320px;
  margin: 120px auto;
}

/* WINDOW */
.window {
  position: absolute;
  width: 320px;
  background: #111;
  border: 1px solid #333;
  transition: all 0.15s ease;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.hidden {
  display: none;
}

.titlebar {
  background: #1a1a1a;
  padding: 6px;
  cursor: move;
}

.content {
  padding: 10px;
}

/* DESKTOP */
.desktop {
  display: flex;
  gap: 20px;
  padding: 40px;
  height: 100vh;
}

.icon {
  width: 100px;
  padding: 10px;
  background: #111;
  border: 1px solid #333;
  cursor: pointer;
  transition: transform 0.1s;
}

.icon:active {
  transform: scale(0.95);
}

/* TASKBAR */
.taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0f0f0f;
  padding: 5px;
  border-top: 1px solid #333;
}

/* TEXT */
textarea {
  width: 100%;
  height: 120px;
  background: black;
  color: white;
  border: 1px solid #333;
}

.error {
  color: red;
}

/* SNAKE */
canvas {
  background: black;
  border: 1px solid #333;
}
